body {
    margin:0;
    background:black;
    font-family:'IBM Plex Mono'; 
    color: whitesmoke;
}

h1 {
    margin:0;
    font-family:'IBM Plex Mono'; 
    font-size:100px;  
}

ul {
    list-style-type: none; 
    margin:0;
    padding:0; 
    overflow:hidden;
    font-family:'IBM Plex Mono'; 
    background-color: transparent;
    display:flex;
    justify-content:flex-end; 
}

li a {
    display:block; 
    color:white; 
    font-family:'IBM Plex Mono'; 
    text-align:center;
    font-size:25px; 
    padding:20px 25px; 
    text-decoration:none; 
}

li a:hover { 
    background-color: grey;
}

.banner, .about, .watch, .contact{
    height: 750px;
    width: 100%;
}

.sub-header {
    text-align: center;
    vertical-align: middle;
    font-size: 40px; 
    font-family:'IBM Plex Mono'; 
    color: rgb(209, 29, 6);;
    font-weight: 500;
    padding: 20px;
    margin: auto; 
}

.banner{
    text-align: left;
    font-family:'IBM Plex Mono'; 
    vertical-align: middle;
    line-height: 80px; 
    font-size: 30px;
    color: rgb(209, 29, 6);
    background-image: url('http://wallfon.com/walls/fantasy/soldier-post-apocalyptic-world.jpg');
    background-size:cover; 
}

.full-width {
    display: flex; 
    align-content: center; 
    width: 95%; 
    font-family:'IBM Plex Mono'; 
    justify-content: space-around; 
    padding: 10px; 
    margin: 10px; 
}
